<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
